---
layout: default
---
<h1>Bienvenue chez moi</h1>
<p>Vous voilà sur mon site perso.</p>
<p>Ce site est propulsé par Jekyll, un générateur de site statique.
<br>
Le tout est hébergé par Github pages et <a href="https://github.com/Djohn12/Djohn12.github.io!">le dépôt de code est ici</a></p>
<p>Vous trouverez ici :</p>
<ul>
	<li>Mon portfolio avec mon cv</li>
	<li>Quelques informations sur moi et ce que je fais en ce moment</li>
	<li>Des articles qui finiront par constituer mon blog si j'en fais assez et que je m'y tiens :p</li>
</ul>
	<br>
<p>Au plaisir !</p>